{% extends "base.html" %}

{% block content %}
  <h1>Lista de personas</h1>

  <br>
  <a href="{{ url_for('registrar_persona') }}"><button type="button" class="btn btn-primary">Ingresar persona</button></a>
  <br><br> 
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">D.N.I</th>
        <th scope="col">Motivo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for p in personas %}
      <tr>
        <th scope="row">{{ p.id }}</th>
        <td>{{ p.fecha }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.apellido }}</td>
        <td>{{ p.dni }}</td>
        <td>{{ p.motivo }}</td>
        <td>
          <a href="{{ url_for('index', eliminar=p.id) }}"><span class="badge bg-danger">Eliminar</span></a>
          <a href="{{ url_for('get_editar_persona', id=p.id) }}"><span class="badge bg-secondary">Editar</span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}